@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

body {
    font-family: 'Teko', sans-serif;
    background-image: url(./imgs/nightcity.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
legend {
    font-size: 36px;
}
input {
    font-family: 'Teko', sans-serif;
    width: 300px;
    height: 30px;
    font-size: 30px;
    background-color: rgba(158, 147, 147, 0);
    border: none;
    border-bottom: 3px solid black;
}

input:focus {
    outline: none;
}

.columns {
    display: flex;
    gap: 50px;
}

.left-column, .right-column{
    display: flex;
}

.right {
    text-align: left;
}
.head, .foot {
    color: white;
    font-size: 24px;
}

.content-box {
    display: flex;
}
.logo {
    height: 400px;
    width: auto;
}

.logo-box {
    width: 60%;
    height: 50%;
    border-radius: 100px;
}
.logo-container {
    color: white;
    font-size: 48px;
    width: 50%;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.forms-container {
    background-color: rgba(246, 241, 248, 0.452);
    font-size: 24px;
    font-weight: bold;
    height: 75%;
    width: 70%;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.error {
    color: red;
    font-weight: bold;
    font-size: 24px;
}

button {
    font-family: 'Teko', sans-serif;
    font-size: 24px;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: purple;
    color: white;
}