@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Saira&family=Teko&display=swap');
body {
    font-family: 'Teko', sans-serif;
    background-image: url(./imgs/nightcity.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
legend {
    font-size: 36px;
}
input {
    font-family: 'Teko', sans-serif;
    width: 300px;
    height: 30px;
    font-size: 30px;
    background-color: rgba(158, 147, 147, 0);
    border: none;
    border-bottom: 2px solid black;
}

input:focus {
    outline: none;
}

.row {
    display: flex;
    gap: 40px;
}
.head, .foot {
    color: white;
    font-size: 24px;
}

.content-box {
    display: flex;
}
.logo {
    height: 300px;
    width: auto;
}

.logo-title {
    font-size: 36px;
    font-family: 'Saira', sans-serif;
    text-shadow: 2px 2px 2px black;
}

.logo-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.089);
}
.logo-container {
    color: white;
    font-size: 48px;
    width: 50%;
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.forms-container {
    background-color: rgba(255, 253, 255, 0.419);
    font-size: 24px;
    font-weight: bold;
    height: 75%;
    width: 70%;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.error {
    color: red;
    font-weight: bold;
    font-size: 24px;
}

button {
    font-family: 'Teko', sans-serif;
    font-size: 24px;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: purple;
    color: white;
}