body {
    background-image: url(./imgs/nightcity.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container {
    color: white;
    font-size: 48px;
    width: 50%;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.forms-container {
    background-color: rgba(246, 241, 248, 0.452);
    font-size: 24px;
    font-weight: bold;
    height: 75%;
    width: 50%;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.error {
    color: red;
    font-weight: bold;
    font-size: 12px;
}